[submodule "3rd-party/json"]
	path = 3rd-party/json
	url = https://github.com/nlohmann/json.git
[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog.git
