[submodule "3rd-party/json"]
	path = 3rd-party/json
	url = https://github.com/nlohmann/json.git
[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd-party/icons"]
	path = 3rd-party/icons
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "3rd-party/glfw"]
	path = 3rd-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd-party/arbor"]
	path = 3rd-party/arbor
	url = https://github.com/arbor-sim/arbor.git
[submodule "3rd-party/glm"]
	path = 3rd-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd-party/stb"]
	path = 3rd-party/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd-party/implot"]
	path = 3rd-party/implot
	url = https://github.com/epezent/implot.git
[submodule "3rd-party/ImGuizmo"]
	path = 3rd-party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rd-party/glbinding"]
	path = 3rd-party/glbinding
	url = https://github.com/cginternals/glbinding
